body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #000000;
margin: 0;
}

.cabeçalho{
display: flex;
justify-content: space-between;
background-color: #000000;
padding: 2px;
color: #ffffff;
align-items: center;
}

.logo{
font-size: 2rem;
text-transform: uppercase;
padding: 1rem;
align-items: center;
}

.menu ul{
display: flex;
list-style-type: none;
font-size: 1.3rem;
gap: 2rem;
}

.dom{
text-align: center;
font-size: 2rem;
text-transform: uppercase;
}

.conteiner{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 78vh;
}

.numero{
margin: 1rem;
font-size: 1.5rem;
background-color: #333333;
color: #eee8ff;
padding: 1rem 1rem;
border-radius: 8px;
text-align: center;
}

#resultado{
padding-top: 2rem;
}

footer {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 4vh;
background-color: #000000;
color: #f5f3fa;
font-size: 1rem;
padding: 1rem 0;
text-transform: uppercase;
}  